{
  "presets": ["es2015", "stage-0"],
  "sourceMaps": "inline",
  "plugins": ["rewire", ["module-resolver", {
    "root": ["./"],
    "alias": {
      "root": "./",
      "src": "./src",
      "tests": "./tests"
    }}
  ], ["transform-runtime", {
    "helpers": false,
    "polyfill": false,
    "regenerator": true,
    "moduleName": "babel-runtime"
    }
  ]]
}